{
  "ServerURL": "127.0.0.1",
  "ServerPort": 7171,
  "AdminUsername": "Masterlocke",
  "AdminPassword": "Letmein123",
  "DatabasePath": "cachedtempdata.dll",
  "UseLogOn": false,
  "CAPrimeUrl": "https://acme-v02.api.letsencrypt.org/",
  "CAStagingUrl": "https://acme-staging-v02.api.letsencrypt.org/"
}