{
  "serverURL": "127.0.0.1",
  "serverPort": 7171,
  "adminUsername": "Masterlocke",
  "adminPassword": "Letmein123",
  "databasePath": "cachedtempdata.dll",
  "useLogOn": false,
  "caPrimeUrl": "https://acme-v02.api.letsencrypt.org/",
  "caStagingUrl": "https://acme-staging-v02.api.letsencrypt.org/"
}