{
  "serverURL": "0.0.0.0",
  "serverPort": 7171,
  "adminUsername": "admin",
  "adminPassword": "changeme123",
  "databasePath": "/app/data/certificates.db",
  "useLogOn": true,
  "caPrimeUrl": "https://acme-v02.api.letsencrypt.org/",
  "caStagingUrl": "https://acme-staging-v02.api.letsencrypt.org/"
}