{
"serverURL": "127.0.0.1",
"serverPort": 7171,
"adminUsername": "Masterlocke",
"adminPassword": "Letmein123",
"databasePath": "cachedtempdata.dll",
"useLogOn": false,
"caStagingUrl": "https://acme-staging-v02.api.letsencrypt.org/directory",
"caPrimeUrl": "https://acme-v02.api.letsencrypt.org/directory"
}
